<section class="customers">
  <div class="container customers-container">
    <h2 class="customers-title visually-hidden">Customers</h2>
    <div class="customers-images">
      <img src="#" alt="for me" class="customers-images-img" />
    </div>
    <div class="customers-content">
      <div class="customers-description">
        <p class="description-text-1">
          Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis
          sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus.
          Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut
          molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula
          molestie, nec molestie mi blandit. Suspendisse cursus tellus sed augue
          ultrices, quis tristique nulla sodales. Suspendisse eget lorem eu
          turpis vestibulum pretium. Suspendisse potenti. Quisque malesuada enim
          sapien, vitae placerat ante feugiat eget. Quisque vulputate odio
          neque, eget efficitur libero condimentum id. Curabitur id nibh id sem
          dignissim finibus ac sit amet magna.
        </p>
        <h3 class="description-title">Tim Smith</h3>
        <p class="description-text-2">British Dragon Boat Racing Association</p>
      </div>
      <div class="customers-social">
        <ul class="customers-social-list">
          <li class="customers-social-item">
            <a href="#" class="customers-social-link">
              <svg class="customers-social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="customers-social-item">
            <a href="#" class="customers-social-link">
              <svg class="customers-social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="customers-social-item">
            <a href="#" class="customers-social-link">
              <svg class="customers-social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="customers-social-item">
            <a href="#" class="customers-social-link">
              <svg class="customers-social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="customers-social-item">
            <a href="#" class="customers-social-link">
              <svg class="customers-social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="customers-social-item">
            <a href="#" class="customers-social-link">
              <svg class="customers-social-icon">
                <use href="#"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button class="customers-social-btn">Meet all customers</button>
      </div>
    </div>
  </div>
</section>
