<!-- Header -->
<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-nav-link" href="./index.html">
        <svg class="header-logo">
          <use href="../img/sprites.svg#header-icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-item-link" href="./index.html">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-item-link" href="#">Service</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-item-link" href="#">Feature</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-item-link" href="#">Product</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-item-link" href="#">Testimonial</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-item-link" href>FAQ</a>
        </li>
      </ul>
    </nav>
    <ul class="header-button-list">
      <li class="header-button-list-item">
        <button class="header-btn">Login</button>
      </li>
      <li class="header-button-list-item">
        <button class="btn-primary header-btn">Sign up</button>
      </li>
    </ul>
  </div>
  <!-- Form -->
  <div class="form-container">
    <form action="#">
      <label for="pname"><b>Назва товару</b></label>
      <input
        name="pname"
        type="text"
        placeholder="Введіть назву товару"
        required
      />

      <label for="pquantity"><b>Кількість</b></label>
      <input
        name="pquantity"
        type="number"
        placeholder="Введіть кількість"
        required
      />

      <label for="psize"><b>Габарити</b></label>
      <input name="psize" type="text" placeholder="Введіть габарити" required />

      <label for="pprice"><b>Вартість</b></label>
      <input
        name="pprice"
        type="number"
        placeholder="Введіть вартість"
        required
      />

      <button class="submit-button" type="submit">Надіслати</button>
    </form>
  </div>
  <!-- /Form -->
</header>
