<section class="hero">
    <div class="container hero-container">
        <h1 class="visually-hidden">Nexcent - your security system</h1>
        <div class="slider swiper mySwiper">
            <ul class="slider-list swiper-wrapper">
                <li class="slider-list-item swiper-slide">
                    <div class="hero-slide">
                        <div class="hero-slide-content">
                            <h2 class="hero-slide-title">Lessons and insights <span class="hero-slide-title-primary">from 8 years</span></h2>
                            <p>Where to grow your business as a photographer: site or social media?</p>
                            <button class="btn-primary" type="button">Register</button>
                        </div>
                        <svg class="icon" width="391" height="407">
                            <use href="@img/sprites.svg#picture-hero-illustration"></use>
                        </svg>
                    </div>
                </li>
                <li class="slider-list-item swiper-slide">
                    <div class="hero-slide">
                        <div class="hero-slide-content">
                            <h2 class="hero-slide-title">Lessons and insights <span class="hero-slide-title-primary">from 8 years</span></h2>
                            <p>Where to grow your business as a photographer: site or social media?</p>
                            <button class="btn-primary" type="button">Register</button>
                        </div>
                        <svg class="icon" width="391" height="407">
                            <use href="@img/sprites.svg#picture-hero-illustration"></use>
                        </svg>
                    </div>
                </li>
                <li class="slider-list-item swiper-slide">
                    <div class="hero-slide">
                        <div class="hero-slide-content">
                            <h2 class="hero-slide-title">Lessons and insights <span class="hero-slide-title-primary">from 8 years</span></h2>
                            <p>Where to grow your business as a photographer: site or social media?</p>
                            <button class="btn-primary" type="button">Register</button>
                        </div>
                        <svg class="icon" width="391" height="407">
                            <use href="@img/sprites.svg#picture-hero-illustration"></use>
                        </svg>
                    </div>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>