body {
    color: var(--neutral-grey);
    font-family: var(--font-family);
    line-height: 1.5;
}
.container {
  width: 100%;
  margin: auto;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.btn-primary {
    padding: 14px 32px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: var(--brand-primary);
    color: var(--neutral-white);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-family);
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    border: 2px solid var(--neutral-d-grey);
    background-color: var(--brand-primary);
  }