/* <!-- Header --> */
.page-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: var(--neutral-white);
}
.header-logo {
  width: 75px;
  height: 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-link {
  margin-right: 15px;
}

.header-nav-list {
  display: none;
}

.header-nav-item {
  padding: 30px 0;
}
.header-nav-item-link {
  position: relative;
}

.header-nav-item-link:hover,
.header-nav-item-link:focus {
  color: var(--brand-primary);
}

.header-nav-item-link:hover::after,
.header-nav-item-link:focus::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--brand-primary);
  border-radius: 1px;
  color: var(--brand-primary);
  text-decoration: underline;
}

.header-button-list {
  display: flex;
  gap: 14px;
}
.header-button-list-item {
}

.header-btn {
  padding: 0;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.42857;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--brand-primary);
}

.header-button-list-item:first-child .header-btn {
  background-color: transparent;
  color: var(--brand-primary);
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
  }
  .header-logo {
    width: 100px;
    height: 18px;
    margin-right: 50px;
  }
  .header-nav-list {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .header-button-list {
    gap: 0;
  }
  .header-btn {
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-family);
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1263px) {
  .header-container {
    width: 1263px;
  }
  .header-logo {
    width: 155px;
    height: 24px;
  }
  .header-nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .header-nav-link {
    margin-right: 166px;
  }
  .header-btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.42857;
  }
}
